<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lunch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LunchWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lunsj.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C83FF89D2CE919D400316DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8DBD6792CE7DBD70065D2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8DBD6892CE7DBDC0065D2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8DBD6932CE7DBDC0065D2A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
